* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #5b675f;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #5b675f;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + .content {
    padding-top: 102px;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #0E2818;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #0E2818;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  .hero {
        display: center;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  
  footer {
    background: #5b675f;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #024e76;
  }
  
  section {
    padding: 60px;
  }
  
  /* Hero Style Start */
  .hero {
    background-image: url('./images/FinalTriVelLogo-W-BG.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /* Hero Style End */
  
  .hero-form {
    border: 3px solid #0E2818;
    background-color: #5b675f;
    padding: 20px;
    width: 500px;
    color: #0E2818;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }
  
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  
  .form-input {
    border: 1px solid #0E2818;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #5b675f;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .hero-form label {
    margin: 0 5px;
  }
  
  .hero-form button {
    color: #0E2818;
    background-color: #5b675f;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .intro {
    text-align: center;
  }
  
  .intro p {
    line-height: 1.7;
    color: #5b675f;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 55px;
    color: #0E2818;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #0E2818;
  }
  
  .secondary-border {
    border-color: #5b675f;
  }

  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  /* REACH OUT STYLES START */
  .contact {
    text-align: center;
    background: #0E2818;
  }
  
  .contact h2 {
    color: #0E2818;
  }
  
  .contact-info iframe {
    width: 400px;
    height: 400px;
  }
  
  .contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: #5b675f;
  }
  
  .contact-info h3 {
    color: #0E2818;
    font-size: 32px;
  }
  
  .contact-info p,
  .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
  }
  
  .contact-info a {
    color: #5b675f;
  }
  
  /* REACH OUT STYLES END */