* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    padding: 20px 35px;
    background-color: #5b675f;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + .content {
    padding-top: 102px;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #0E2818;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #0E2818;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  .hero {
     display: center;
     margin-left: auto;
     margin-right: auto;
     width: 85%;
  }
  * {
    box-sizing: border-box;
  }
  
  footer {
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
  }
  
  section {
    padding: 60px;
  }
  
  /* Hero Style Start */
  .hero {
    background-image: url('./images/FinalTriVelLogo-W-BG.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /* Hero Style End */
.mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}
  
  .hero-form {
    border: 3px solid #0E2818;
    padding: 20px;
    width: 500px;
    color: #0E2818;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }
  
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  
  .form-input {
    border: 1px solid #0E2818;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #5b675f;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .hero-form label {
    margin: 0 5px;
  }
  
  .hero-form button {
    color: #0E2818;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .intro {
    text-align: center;
    background-color: #0E2818;
  }
  
  .intro p {
    line-height: 1.7;
    color: #5b675f;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .h3 {
    color: #5b675f;
  }

  .section-title {
    font-size: 55px;
    color: #5b675f;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #0E2818;
  }
  
  .secondary-border {
    border-color: #5b675f;
  }

  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  /* REACH OUT STYLES START */
  .contact {
    text-align: center;
    background: #0E2818;
  }
  
  .contact h2 {
    color: #0E2818;
  }
  
  .contact-info iframe {
    width: 400px;
    height: 400px;
  }
  
  .contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: #5b675f;
  }
  
  .contact-info h3 {
    color: #0E2818;
    font-size: 32px;
  }
  
  .contact-info p,
  .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
  }
  
  .contact-info a {
    color: #5b675f;
  }

  img {
    position: relative;
    border: 1px solid #0E2818; 
  }
  